body {
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border: none;
}

code {
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}


p, ul {
  margin: 15px 0;
  font-size: 16px;
}

ul {
  padding-left: 30px;
}

.gray-text, #comment_title {
  text-align: center;
  color: #f7eded;
  font-family: "Crimson Text", serif;
  margin-bottom: 0px;
}

#comment_box {
  color: black;
  font-family: "Crimson Text", serif;
  text-align: center;
}

.intro-image {
   background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
                rgba(0,0,0,0.55) url('../static/eliza_curled.jpg');
   background-size: 100%;
}

.enter {
  font-family: 'Roboto', sans-serif;
  color: #1a6cef;
}

#crib {
  text-decoration: none;
  background-color: transparent;
}

#crib img {
  height: 110px;
  width: 110px;
}

.navbar-style {
  background: transparent;
  border: none;
}

.index_background {
  background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
                rgba(0,0,0,0.55) url('../static/main.jpg');
   background-size: 100%;

}
